<div *ngIf="comp">
  <h2>{{comp.name}}</h2>
  <div>
    <label>Nazwa: {{comp.name}}</label><br>
    <label>Likes: {{comp.likes}}</label>

  </div>
  <div [ngClass]="{voted: comp.voted}">
    <button (click)="addLike()">+</button>
    <button (click)="subLike()">-</button>
  </div>


</div>
