ul{
  list-style-type: none;
}
li{
  width:auto;
}
li:hover{
  color: blue;
  cursor: pointer;
}
li:active{
  color: red;
}
.selected{
  color: red;
}
.voted{
   color: green;
 }
.voted.selected{
  color: red;
}
.voted:after{
  content: "Voted!"
}
content{
  font-size: 6px;
}
