<p>
<h1>Computers</h1>
<ul class="comp">
  <li *ngFor="let comp of (comps | Sort)"
      [class.selected]="comp === selectedComp"
      [ngClass]="{voted: comp.voted}"
      (click)="onSelect(comp)">{{comp.name}}
    {{comp.likes}}
  </li>
</ul>
<app-comp [comp]="selectedComp"></app-comp>

